body{
    font-family: Consolas;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1px;
    background-image: url(assets/topography.png);
    background-attachment: scroll;
    margin: 0px;
    padding: 0;
}

.topnav .container {
            margin:0 auto;
            padding:0;
            }
.topnav {
        background-color: #333333;
        height: 50px;
        overflow: hidden;
        padding: 0% 10% 0 10%;
        }

.topnav img{ float: left;
    margin: 10px 10px 10px 10px;}

.topnav ul  {
            height: 50px;
            list-style: none;
            margin: 0 auto;
            float: right;
            }

.topnav ul a, li   {
                color: #ff0099;
                text-transform: uppercase;
                font-size: 16px;
                display: inline-block;
                height: 50px;
                line-height: 50px;
                padding: 0 10px;
                text-align: center;
                }

.intro .container{
    padding: 0 10% 0 10%;
}

.intro h1   {
            font-size: 42px;
            font-family: 'Yanone Kaffeesatz', sans-serif;
            margin-top: 100px;
            }

.intro h2   {
            font-size: 32px;
            color: #ff0099; 
            font-family: 'Yanone Kaffeesatz', sans-serif; 
            margin-top: 50px;  
            }

p   {
    font-size:18px;
    }


hr{
    border: none;
    color: #000000;
    overflow:visible;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
    }

hr:after{
        content: '---';
        letter-spacing: 10px;
}

.definitions .container{
                        padding: 0 10% 0 10%;
}
.definitions h3 {
                font-size: 32px;
                text-align: center;
                line-height: 2;
                font-weight: bold;
                font-family: 'Yanone Kaffeesatz', sans-serif;
                }
.definitions dt {
                font-size: 22px;
                line-height: 2;
                font-weight: bold;
                font-family: 'Yanone Kaffeesatz', sans-serif;
                }
                
.definitions dd {
    font-size: 15px;
    line-height: 2;
    margin: 0;
    
    }